body {
    height: 100px;
    width: auto;
    display: flex;
    justify-content: center;
}

.cards {
    height: 100px;
    width: 100px;
    background-color: red;
    margin: 5px;
}

/* .cards.clicked {
    background-color: green;
} */